{{/* code: language=toml */}}

{{- $isPersonal := promptBoolOnce . "personal" "Is this a personal computer" false -}}

{{- $isLinux := eq .chezmoi.os "linux" -}}

{{- $isWindows := eq .chezmoi.os "windows" -}}

{{- $isWSL := and $isLinux (contains "microsoft-standard-WSL" .chezmoi.kernel.osrelease) -}}

{{- $isDocker := or (ne (stat "/.dockerenv") nil) (ne (stat "/.dockerinit") nil) -}}

{{- $isSSH := or (ne (env "SSH_CLIENT") "") (ne (env "SSH_TTY") "") (ne (env "SSH_CONNECTION") "") -}}
{{- $isMOSH := ne (env "MOSH_SSH_CONNECTION") "" -}}

{{- $isCodeSpaces := ne (env "CODESPACES") "" -}}
{{- $isRemoteContainer := ne (env "REMOTE_CONTAINERS_IPC") "" -}}

sourceDir = "~/.config/.dotfiles"

[data]
    isPersonal = {{ $isPersonal }}

    isWSL = {{ $isWSL }}
    isLinux = {{ $isLinux }}
    isWindows = {{ $isWindows }}
    isDocker = {{ $isDocker }}
    isEphemeral = {{ or $isDocker $isCodeSpaces $isRemoteContainer }}
    isRemote = {{ or $isSSH $isMOSH $isCodeSpaces $isRemoteContainer }}

[interpreters.ps1]
    args = ["-NoProfile"]
[cd]
    command = """
    {{- if lookPath "nu" -}}nu
    {{- else if lookPath "fish" -}}fish
    {{- else if lookPath "pwsh" -}}pwsh
    {{- else if lookPath "powershell.exe" -}}powershell.exe
    {{- end -}}
    """
