{{/* code: language=toml */}}

{{- $isLinux := eq .chezmoi.os "linux" -}}

{{- $isWindows := eq .chezmoi.os "windows" -}}

{{- $isWSL := contains "microsoft-standard-WSL" .chezmoi.kernel.osrelease -}}

{{- $isDocker := or (ne (stat "/.dockerenv") nil) (ne (stat "/.dockerinit") nil) -}}

{{- $isSSH := or (ne (env "SSH_CLIENT") "") (ne (env "SSH_TTY") "") (ne (env "SSH_CONNECTION") "") -}}
{{- $isMOSH := ne (env "MOSH_SSH_CONNECTION") "" -}}

{{- $isCodeSpaces := ne (env "CODESPACES") "" -}}
{{- $isRemoteContainer := ne (env "REMOTE_CONTAINERS_IPC") "" -}}

sourceDir = "~/.config/.dotfiles"

[data]
    isWSL = {{ $isWSL }}
    isDocker = {{ $isDocker }}
    isEphemeral = {{ or $isDocker $isCodeSpaces $isRemoteContainer }}
    isPersonal = {{ or $isWSL $isWindows $isDocker }}
    isRemote = {{ or $isSSH $isMOSH $isCodeSpaces $isRemoteContainer }}
