{{- /* args: (dict "global" "fileName") */ -}}
{{- define "integration" -}}
{{- $filePath := joinPath $.GLOBAL.chezmoi.sourceDir "dot_config/vscode/settings/vspace/integration" $.fileName -}}
{{- include $filePath -}}
{{- end -}}
[
  {
    "key": "/",
    "name": "+Integration",
    "icon": "search",
    "type": "bindings",
    "bindings": [
      {
        "key": " ",
        "name": "quick open with modes",
        "icon": "terminal",
        "type": "command",
        "command": "workbench.action.quickOpenWithModes"
      },
      // m merge editor action
      {
        "key": "m",
        "name": "+Merge",
        "icon": "git-merge",
        "type": "bindings",
        "bindings": {{ template "integration" (dict "GLOBAL" $ "fileName" "action-merge.jsonc") }}
      },
      // e explorer
      {
        "key": "e",
        "name": "+Explorer",
        "icon": "zap",
        "type": "bindings",
        "bindings": {{ template "integration" (dict "GLOBAL" $ "fileName" "explorer.jsonc") }}
      },
      // c compare editor
      {
        "key": "c",
        "name": "+Compare editor",
        "icon": "zap",
        "type": "bindings",
        "bindings": {{ template "integration" (dict "GLOBAL" $ "fileName" "compare-editor.jsonc") }}
      },
      // s search
      {
        "key": "s",
        "name": "+Search",
        "icon": "zap",
        "type": "bindings",
        "bindings": [
          // s search view
          {
            "key": "s",
            "name": "search view",
            "icon": "zap",
            "type": "bindings",
            "bindings": {{ template "integration" (dict "GLOBAL" $ "fileName" "search-replace.jsonc") }}
          },
          {
            "key": "e",
            "name": "search editor",
            "icon": "zap",
            "type": "bindings",
            "bindings": {{ template "integration" (dict "GLOBAL" $ "fileName" "search-editor.jsonc") }}
          },
        ]
      },
      // localHistory
      {
        "key": "h",
        "name": "+History",
        "icon": "versions",
        "type": "bindings",
        "bindings": [
          {
            "key": "m",
            "name": "select for compare",
            "icon": "split-vertical",
            "type": "command",
            "command": "workbench.action.localHistory.selectForCompare"
          },
          {
            "key": "M",
            "name": "compare with selected",
            "icon": "split-vertical",
            "type": "command",
            "command": "workbench.action.localHistory.compareWithSelected"
          }
        ]
      },
      // * misc
      {
        "key": "*",
        "name": "+Misc",
        "icon": "zap",
        "type": "bindings",
        "bindings": []
      },
      // / dynamic commands mounting point
      {
        "key": "/",
        "name": "+Add dynamic workspace integration here",
        "icon": "zap",
        "type": "command",
        "command": "noop"
      }
    ]
  }
]
