[
  {
    "key": "m",
    "name": "+Major",
    "icon": "code",
    "type": "conditional",
    "bindings": {{- includeTemplate "mergeList" (dict "GLOBAL" $ "relativePath" "dot_config/vscode/settings/vspace/languageId") -}}
  }
]
