{{- $keybindingsDir := joinPath .chezmoi.sourceDir "dot_config/vscode/keybindings" -}}

{{- $mergedList := list -}}
{{- $fileContent := dict -}}
{{- $cleanedContent := dict -}}

{{- range (glob (joinPath $keybindingsDir "*.json*")) -}}
  {{- /* file name */ -}}
  {{- $fileName := base . -}}

  {{- /* relative path */ -}}
  {{- $relPath := trimPrefix (joinPath $.chezmoi.sourceDir "/") . -}}

  {{- if hasSuffix "jsonc.tmpl" . -}}
    {{- /* merge template */ -}}
    {{- $fileContent = includeTemplate $relPath $ | fromJsonc -}}
  {{- else if hasSuffix "jsonc" . -}}
    {{- /* merge normal jsonc file */ -}}
    {{- $fileContent = include . | fromJsonc -}}
  {{- else -}}
    {{- fail (printf "Unknown file type: %s" $fileName) -}}
  {{- end -}}

  {{- $mergedList = concat $mergedList $fileContent -}}
{{- end -}}

{{- if eq (len $mergedList) 0 -}}
  {{- fail "Abort! The whole settings is empty." -}}
{{- end -}}

{{ $mergedList | toPrettyJson "  " }}
