{
  "builder": {
    "gc": {
      "defaultKeepStorage": "20GB",
      "enabled": true
    }
  },
  "experimental": false,
  {{ if .needMirror }}
  "registry-mirrors": [
    "https://35rtko0a.mirror.aliyuncs.com",
    "https://docker.m.daocloud.io"
  ]
  {{ else }}
  "registry-mirrors": []
  {{ end }}
}
